
<body>
    
    <div class="row">

        <div class="col-md-4">
            <button id="getM">Get Movies</button>
            <ul id="titles"></ul>
        </div>

        <div class="col-md-4">
            <button id="getR">Get Reviews</button>
            <ul id="rtitles"></ul>
        </div>

        <div class="col-md-4">
            <button id="getRat">Get Reviewers</button>
            <ul id="raters"></ul>
        </div>

    </div>


</body>

